<h1>
    <%= @article.title %>
</h1>
<div>
  <span>
    <%= link_to edit_article_path(@article) do %>
      <i class="fa-solid fa-pen-to-square fs-2"></i>
    <% end %>
  </span>
  <span>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "this article will be deleted, continue ?"} do %>
        <i class="fa-solid fa-trash-can fs-2"></i>
    <% end %>
  </span>
</div>
<div>
<p> <%= @article.content %> </p>
</div>
<%= link_to articles_path do %>
  back
<% end %>
